<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AYE.FLY</title>
    <link rel="stylesheet" type="text/css" th:href="@{/userCSS/updateUserLoginById.css}">
    <link rel="icon" th:href="@{/icons/10132070_airplane_flight_2_line_icon.png}">
</head>
<body>
<nav class="nav">
    <div class="nav__wrapper">
        <div class="nav__logo">
            <div class="nav__logoText">AYE.FLY</div>
        </div>
        <form th:action="@{/}" method="post">
            <button class="nav__buttonLogout">Log out</button>
        </form>
    </div>
</nav>
<header class="header">
    <div class="header__wrapper">
        <form th:action="@{/user}" class="header__backButtonPlace" method="post">
            <button class="header__backButton"><i class="fas fa-arrow-left"></i>Back</button>
        </form>
        <div class="header__content">
            <div class="header__userController">
                <div class="header__usersList">
                    <div th:if="${#lists.isEmpty(users)}">
                        <div class="header__emptyMessage">No users added!</div>
                    </div>
                    <!-- Используйте th:each для итерации по коллекции users -->
                    <div th:each="user : ${users}" class="header__userInfo">
                        <!-- Используйте поля userId, userName, userLogin для вывода данных -->
                        <div class="header__userIdInfo">User:<div th:text="${user.userId}" class="header__userId"></div>.</div>
                        <div class="header__userNameInfo"><div th:text="${user.userName}" class="header__userName"></div></div>
                        <div class="header__userLoginInfo"><div th:text="${user.userLogin}" class="header__userLogin"></div></div>
                        <!-- Используйте th:each для итерации по коллекции flights -->
                        <div th:each="flight : ${flights}" class="header__userFlightInfo">
                            <!-- Используйте поля flightId и flightName для вывода данных -->
                            <div class="header__userFlightIdInfo">Flight:<div th:text="${flight.flightId}" class="header__userFlightId"></div>.</div>
                            <div class="header__userFlightNameInfo" th:text="${flight.flightName}"></div>
                        </div>
                    </div>
                </div>
                <form th:action="@{/user/doUpdateUserLoginById}" method="post" class="header__userLoginUpdate">
                    <div class="header__text">Enter ID and new login</div>
                    <div class="header__buttons">
                        <input class="header__inputUserId" type="text" name="userId" placeholder="Enter user ID: " required oninvalid="setCustomValidity('Enter user ID')" oninput="setCustomValidity('')"/>
                        <input class="header__inputNewUserLogin" type="text" name="userLogin" placeholder="Enter new user login: " required oninvalid="setCustomValidity('Enter new user login')" oninput="setCustomValidity('')"/>
                        <button class="header__button" type="submit">Update</button>
                    </div>
                </form>
            </div>
            <img th:src="@{/images/plane.svg}" alt="" class="header__planeImage">
        </div>
    </div>
</header>
<script src="https://kit.fontawesome.com/316c722ff4.js" crossorigin="anonymous"></script>
</body>
</html>